<footer>
  <div class="contact-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="py-5 text-light text-center">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p class="my-2">Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="social-links py-5 text-light text-center">
            <h2>AROUND THE WEB</h2>
            <ul class="list-unstyled m-0 d-flex justify-content-center align-items-center gap-3">
              <a href="#">
                <li><i class="fa-brands fa-facebook fa-fw"></i></li>
              </a>
              <a href="#">
                <li><i class="fa-brands fa-twitter fa-fw"></i></li>
              </a>
              <a href="#">
                <li><i class="fa-brands fa-linkedin fa-fw"></i></li>
              </a>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="py-5 text-light text-center">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="copyright p-3">
    <p class="text-center text-light m-0">Copyright © Mahmoud Yousry Angular First Time 2023</p>
  </div>
</footer>
