<div class="about d-flex justify-content-center align-items-center">
  <div class="child text-center text-light">
    <h1 class="fw-bold">ABOUT COMPONENT</h1>
    <div class="my-4 d-flex justify-content-center align-items-center">
      <div class="left-line"></div>
      <i class="fa-solid fa-star mx-3"></i>
      <div class="right-line"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="text-start">
            Freelancer is a free bootstrap theme created by Route.
            The download includes the complete source files including HTML, CSS,
            and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
        <div class="col-lg-6">
          <p class="text-start">
            Freelancer is a free bootstrap theme created by Route.
            The download includes the complete source files including HTML, CSS,
            and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
