.navbar {
  background-color: #2C3E50;
}

.navbar .nav-item {
  margin: 0 .5rem;
}

.navbar .nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .nav-link.active {
  background-color: #1ABC9C;
  border-radius: 6px;
  color: white;
}


