
.portofolio {
  margin-top: 100px;
}

.row .col-12 i {
  position: absolute;
  inset: 0;
  right: 0.5rem;
  left: 0.5rem;
  background-color: #1abc9cd0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6rem;
  transition: all 0.7s;
  opacity: 0;
}

.row .col-12 div:hover i {
  opacity: 1;
}

.light-box {
  z-index: 999999;
}

.cur-pointer {
  cursor: pointer;
}
