<div class="vh-100 py-5 position-relative">
  <div class="light-box position-fixed top-0 bottom-0 start-0 end-0 bg-primary bg-opacity-50">

  </div>
  <div class="container py-5">
      <div class="title text-center">
        <h1 class="fw-bolder">PORTFOLIO COMPONENT</h1>
        <div class="my-4 d-flex justify-content-center align-items-center">
          <div class="left-line bg-black"></div>
          <i class="fa-solid fa-star mx-3"></i>
          <div class="right-line bg-black"></div>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative cur-pointer">
            <img src="assets/images/poert1.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative  cur-pointer">
            <img src="assets/images/port2.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative  cur-pointer">
            <img src="assets/images/port3.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative  cur-pointer">
            <img src="assets/images/poert1.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative  cur-pointer">
            <img src="assets/images/port2.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="px-2 position-relative  cur-pointer">
            <img src="assets/images/port3.png" class="w-100 rounded" alt="">
            <i class="fa-solid fa-plus rounded"></i>
          </div>
        </div>
      </div>
  </div>
</div>
