<div class="contact-section">
  <div class="container py-5">
    <div class="title text-center">
      <h1 class="fw-bolder">CONATCT SECTION</h1>
      <div class="my-4 d-flex justify-content-center align-items-center">
        <div class="left-line bg-black"></div>
        <i class="fa-solid fa-star mx-3"></i>
        <div class="right-line bg-black"></div>
      </div>
    </div>
    <form>
      <div class="form-group mb-5 position-relative">
        <label for="userName">Username</label>
        <input type="text" name="UserName" id="userName" placeholder="user name">
      </div>
      <div class="form-group mb-5 position-relative">
        <label for="userAge">Age</label>
        <input type="number" name="UserAge" id="userAge" placeholder="user age">
      </div>
      <div class="form-group mb-5 position-relative">
        <label for="userEmail">Email</label>
        <input type="email" name="userEmail" id="userEmail" placeholder="user Email">
      </div>
      <div class="form-group mb-5 position-relative">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password">
      </div>
      <div class="text-start mx-auto">
        <button class="btn btn-success">Send Message</button>
      </div>
    </form>
  </div>
</div>

