<div class="home d-flex justify-content-center align-items-center">
  <div class="child text-center text-light">
    <img class="mb-4" src="../../assets/images/avataaars.svg" alt="">
    <h1 class="fw-bold">START FRAMEWORK Mahmoud Yousry</h1>
    <div class="my-4 d-flex justify-content-center align-items-center">
      <div class="left-line"></div>
      <i class="fa-solid fa-star mx-3"></i>
      <div class="right-line"></div>
    </div>
    <p>Web Developer - Back End - Front End</p>
  </div>
</div>
